.PortfolioPage {
    height: auto;
    min-height: 100vh;

    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkred;
    background-position: center;
    background-size: cover;
}

.PortfolioOpacityLayer {
    width: 100%;
    background-color: rgba(0,0,0,0.85);
}

.PortfolioHeader {
    min-height: 200px;
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: center;
    h1 {
        font-size: 28px;
        letter-spacing: 2px;
        margin-top: 40px;
        padding-top: 56px;
        color:white;
    }
}

.ProjectContainer {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.85);
    margin: 0 !important;
    padding: 0 !important;
}

.ProjectRow {
    height: 100%;
    width: 100%;
    margin: 0 !important;
}

.Project {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    margin-top: 5px;
    margin-bottom: 5px;
    img {
        max-height: 100%;
        max-width: 100%;
    }
}

.LearnMoreButton {
    position: absolute;
}