.ContactPage {
    height: auto;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url("../../imgs/unsplashCoding2.jpg");
    background-position: center;
    background-size: cover;
}

.ContactHeader {
    min-height: 200px;
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(0,0,0,0.5);
    h1 {
        padding-top: 56px;
        color:white;
    }
}

.ContactInfo {
    min-height: 200px;
    padding-bottom: 50px;
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    font-size: 24px;
    background-color: rgba(0,0,0,0.90);
    p {
        display: flex;
        justify-content: center;       
    }
    span {
        padding-top: 40px;
    }
}

.SocialMediaLinks {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    span {
        color: white;
        margin-left: 15px;
        margin-right: 15px;
    }
}

.LinkedInIcon {
    max-width: 32px;
    max-height: 32px;
    color: white;
}