.WelcomePage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 56px;
    color: white;
}

.WelcomeText {
    display: flex;
    justify-content: center;
    align-items: center;
}

.TypewriterContainer {
    display: flex;
    justify-content: center;
    width: 80%;
}